:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-background-color: #f5f4fa;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  --background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* common */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--title-text-color);
}
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* HEADER */
.page-header {
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  border-top: none;
}

.page-header-container {
  display: flex;
  align-items: baseline;
}
.header-nav {
  display: flex;
  align-items: baseline;
}

.header-list {
  display: flex;
  align-items: baseline;
}
.header-list-item + .header-list-item {
  margin-left: 50px;
}

.contact-list-icon {
  display: inline-block;
  margin-right: 10px;
  align-items: stretch;
}

/* LOGO */
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo.dark {
  color: var(--title-text-color);
}

.logo.bright {
  color: #ffffff;
}
.accent {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}

/* Site Nav */
.site-nav .link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* CONTACT LINK */
.contact .link {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.contact-list-icon {
  fill: currentColor;
}
.contact-list-link:hover {
  color: var(--accent-color);
}

.contact-list-link:focus {
  color: var(--accent-color);
}
.contact.list {
  display: flex;
  margin-left: auto;
}
.contact.list .item + .item {
  margin-left: 50px;
}

/* HERO section */

.hero-section {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}
/* BUTTONS */
.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}

.hero-button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 5px 22px;
  min-width: 73px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: #ffffff;
}
/* BENEFITS */

.benefits-list {
  display: flex;
  width: 270px;
  height: 120px;
}

.benefits-list .benefits-item + .benefits-item {
  margin-left: 40px;
}

.benefits-list p {
  font-weight: 400;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
}
.benefits-item {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.benefits-block {
  display: block;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
}
.benefits-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.benefits p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* MISSION */

.mission-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.mission-list {
  display: flex;
  justify-content: center;
}

.mission-item:not(:last-child) {
  margin-right: 30px;
}
.mission-item {
  position: relative;
}
.modal-mision {
  display: block;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 110%);
}

.modal-mision h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  padding: 27px 82px 27px 83px;
}
/* TEAM */
.team {
  background-color: var(--secondary-background-color);
}
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  text-align: center;
}

.team-subtitle p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.card {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}
.work-list .card-content {
  padding: 20px 24px;
}
.card-content {
  padding: 30px 30px 16px 30px;
}
.team-social-list {
  display: flex;
  padding: 0 32px 30px 32px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #afb1b8;
}

.team-social-link:hover {
  background-color: var(--accent-color);
}

.team-social-link:hover svg {
  fill: #ffffff;
}

.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link:focus svg {
  fill: #ffffff;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}
/* CLIENTS */
.clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-link:hover svg {
  fill: var(--accent-color);
}

.clients-link:focus svg {
  fill: var(--accent-color);
}

/* FOOTER */
.footer-page {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer p {
  color: #ffffff;
}
.footer .link {
  line-height: 1.71;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
}

address {
  font-style: normal;
}
.contact {
  margin-top: 20px;
}
.footer {
  display: flex;
}
.social-list {
  display: flex;
}

.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: var(--accent-color);
}

.social-link:focus {
  background-color: var(--accent-color);
}

.social {
  margin-left: 70px;
}
.social-icon {
  fill: #ffffff;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* MODAL FORM */

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* PORTFOLIO */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 56px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

/* MODAL WINDOW */
.card-thumb {
  position: relative;
  overflow: hidden;
}

.card:hover .modal-portfolio {
  opacity: 1;
}
.card:hover .modal-portfolio {
  transform: translateY(0%);
}
.modal-portfolio {
  display: block;
  position: absolute;
  top: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.modal-portfolio p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(0%);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.work-list-item {
  width: 370px;
  margin: 15px;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.work-list-item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.work-list-subtitle {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-list-subtitle p {
  font-size: 16px;
  line-height: 1.872;
  letter-spacing: 0.03em;
}
